{% if topology.metadata %}
{% set metadata = topology.metadata %}
{% if metadata.description %}
LAB_DESCRIPTION="{{ metadata.description }}"
{% endif %}
{% if metadata.author %}
LAB_AUTHOR="{{ metadata.author }}"
{% endif %}
{% if metadata.email %}
LAB_EMAIL="{{ metadata.email }}"
{% endif %}
{% if metadata.url %}
LAB_WEB="{{ metadata.url }}"
{% endif %}
{% if metadata.version %}
LAB_VERSION="{{ metadata.version }}"
{% endif %}

{% endif %}
{% for name, conf in topology.hosts.items() %}
{% for opt in conf.options.model_fields_set %}
{% set val = conf.options[opt] %}
{% if val is string or val is not iterable %}
{{name}}[{{opt}}]={{val}}
{% else %}
{% for v in val %}
{{name}}[{{opt}}]={{v}}
{% endfor %}
{% endif %}
{% endfor %}
{% for iface in conf.interfaces %}
{{name}}[{{loop.index0}}]={{iface.network}}
{% endfor %}

{% endfor %}
