{% if topology.metadata %}
{% set metadata = topology.metadata %}
{% if metadata.description %}
LAB_DESCRIPTION="{{ metadata.description }}"
{% endif %}
{% if metadata.author %}
LAB_AUTHOR="{{ metadata.author }}"
{% endif %}
{% if metadata.email %}
LAB_EMAIL="{{ metadata.email }}"
{% endif %}
{% if metadata.url %}
LAB_WEB="{{ metadata.url }}"
{% endif %}
{% if metadata.version %}
LAB_VERSION="{{ metadata.version }}"
{% endif %}

{% endif %}
{% for host, conf in topology.hosts.items() %}
{% if conf.image %}
{{host}}[image]={{conf.image}}
{% endif %}
{% for net in conf.connections %}
{{host}}[{{loop.index0}}]={{net.network}}
{% endfor %}

{% endfor %}
