{% for iface in host.interfaces %}
# connect device {{ iface.device }} to network "{{ iface.network }}"
{% for address in iface.addresses %}
ip addr add {{ address }}/{{ iface.prefixlen }} dev {{ iface.device }}
{% endfor %}
{% endfor %}
{% if host.routes %}

# routes
{% for route in host.routes %}
ip route add {{ route }}
{% endfor %}
{% endif %}
{% if topology.common.startup %}

# common startup commands
{{ topology.common.startup }}
{% endif %}
{% if host.startup %}

# host startup commands
{{ host.startup }}
{% endif %}
