{% for iface in netconf.interfaces %}
# connect device {{ iface.device }} to network "{{ iface.network }}"
{% for address in iface.addresses %}
ip addr add {{ address }}/{{ iface.prefixlen }} dev {{ iface.device }}
{% endfor %}
{% endfor %}
{% if netconf.routes %}

# routes
{% for route in netconf.routes %}
ip route add {{ route }}
{% endfor %}
{% endif %}
{% if startup %}

{{ startup }}
{% endif %}
